table, td, tr{
    padding: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}
/* .gray{
    background-color: gray;
} */
tr:nth-child(4n-3){
    background-color: rgb(3, 242, 162);
}
tr:nth-child(4n-2){
    background-color: rgba(224, 9, 41, 0.6);
}
tr:nth-child(4n-1){
    background-color: rgb(71, 15, 211);
}
tr:nth-child(4n){
    background-color: rgba(241, 10, 191, 0.6);
}
/* tr:nth-child(2){
    background-color: beige;
}
tr:nth-child(3){
    background-color: beige;
} */